* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6;
  transition: 0.1s;
  color: white;
  transition: 0.1s;
}

:root {
  --nav-bg: #292929;
  --content-bg: #353535;
  --card-border-radius: 1rem;
  --card-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

main {
  background-color: var(--content-bg);
  height: calc(100vh - 40px);
  /* overflow-y: scroll; */
  padding: 20px 0;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

#content-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-container {
  width: 90%;
  display: grid;
  grid-template-areas:
    'search search'
    'location location'
    'summary forecast'
    'current forecast'
    'hourly forecast'
    'daylight forecast';
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 10px 30px;
  gap: 15px;
}

.main-container-card {
  margin: auto;
  width: 600px;
  padding: 20px;
  background-color: var(--nav-bg);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  user-select: none;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
}

#search-box {
  grid-area: search;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-form {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  width: 100%;
}

#search-input {
  font-size: 2rem;
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  background-color: var(--nav-bg);
}

#search-btn {
  font-size: 1.5rem;
  border-radius: 1rem;
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  background-color: rgb(145, 213, 48);
  color: white;
  cursor: pointer;
}

#location-container {
  grid-area: location;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

#weather-summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  grid-area: summary;
}

#current-weather-container {
  display: grid;
  grid-template-areas:
    'heading heading'
    'temp stats'
    'desc stats'
    'realfeel stats';
  grid-template-columns: 1fr 2fr;
  grid-area: current;
}

#current-weather-heading {
  grid-area: heading;
}

#current-temp-container {
  grid-area: temp;
}

#current-temp {
  font-size: 2.3rem;
}

#current-temp-unit {
  grid-area: tempunit;
}

#current-weather-desc {
  grid-area: desc;
  font-size: 1.1rem;
}

#current-real-feel {
  grid-area: realfeel;
  font-size: 0.9rem;
}

#current-stats-container {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.current-stats {
  font-size: 0.9rem;
}

#hourly-weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  grid-area: hourly;
}

#hourly-data-container {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
}

#hourly-data-container::-webkit-scrollbar {
  height: 5px;
}

#hourly-data-container::-webkit-scrollbar-track {
  background: var(--nav-bg);
}

#hourly-data-container::-webkit-scrollbar-thumb {
  background: var(--content-bg);
  border-radius: 10px;
}

.hourly-weather-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
  user-select: none;
}

.hourly-weather-card svg {
  width: 50px;
  fill: white;
}

#daily-weather-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-area: forecast;
  height: 100%;
}

#daily-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0;
  gap: 10px;
}

.daily-weather-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 5px;
  user-select: none;
  border: 1px solid gray;
  border-radius: 5px;
}

.date-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
}

.date-container span:nth-child(1) {
  font-weight: bold;
}

.date-container span:nth-child(2) {
  font-size: 0.8rem;
}

.temp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 15%;
}

.temp-container svg {
  width: 30px;
  fill: white;
}

.temp-container span {
  font-size: 1.5rem;
  font-weight: bold;
}

.conditions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  padding: 0 15px;
}

.conditions-container span {
  font-weight: bold;
}

.conditions-container p {
  font-size: 0.8rem;
}

.precip-container {
  display: flex;
  width: 10%;
}

.precip-container svg {
  width: 20px;
  fill: white;
}

.precip {
  width: 5%;
  font-size: 0.9rem;
}

#daylight-container {
  display: flex;
  flex-direction: column;
  grid-area: daylight;
}

#sun-times-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

footer {
  height: 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
}

footer svg {
  width: 30px;
  display: flex;
  fill: white;
  cursor: pointer;
}
